body {
background: linear-gradient(-45deg, #114084, #3466aa, #23a6d5, #82b7dc);
background-size: 400% 400%;
animation: gradient 15s ease infinite;
height: 100vh;
overflow: hidden;
} 

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(..//images/bg2.png);
  background-size: cover;
}

@keyframes gradient {
0% {
  background-position: 0% 50%;
}
50% {
  background-position: 100% 50%;
}
100% {
  background-position: 0% 50%;
}
}
.background{
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}

.title{
  text-align: center;
  font-family: helvetica;
  font-size: 28px;
  color: #114084;
  font-weight: 700;
  margin-top: 0px;
  margin-bottom: 30px;
}

form{
    height: 550px;
    width: 400px;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 22px rgba(8,7,16,0.6);
    padding: 50px 35px;
    z-index: 3;
}

.name{
  margin-left: 30px;
  font-family: helvetica;
  font-size: 20px;
  font-weight: 600;
}

.email, .pass, .confpass{
  margin-left: 30px;
  font-family: helvetica;
  font-size: 20px;
  font-weight: 600;

}
.email{
  margin-bottom: 15px;
}

input[type=text]:not(.nameform), input[type=password] {
    margin-bottom: 15px;
    background-color: #F9F9F9;
    border: 3px solid #d1d1d1;
    border-radius: 25px;
    font-size: 15px;
    font-family: 'helvetica';
    margin-top: 5px;
    width: 350px;
    height: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;

  }

  .nameform{
    margin-bottom: 35px;
    background-color: #F9F9F9;
    border: 3px solid #d1d1d1;
    border-radius: 25px;
    font-size: 15px;
    font-family: 'helvetica';
    margin-top: 5px;
    width: 270px;
    height: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
  }

  select {
    width: 75px;
    height: 50px;
    display: inline-block;
    overflow: hidden;
    font-size: 15px;
    font-family: 'helvetica';
    background-color: #f9f9f9;
    border:3px solid #d1d1d1;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    padding-left:15px;
}

option{
  font-size: 15px;
  font-family: 'helvetica';
  background-color: #F9F9F9;
  color: black;
  padding: 10px 20px;
}

.wrapper {
  display: flex;
  align-items: center;
}

  input[type=text]:focus, input[type=password]:focus {
    outline: none;
  }

  input[type=button] {
    margin-left: 100px;
    color: white;
    font-size: 17px;
    font-family: 'helvetica';
    font-weight: bold;
    margin-top: 30px;
    width: 150px;
    height: 50px;
    background-color: #3466AA;
    border: 3px solid #3466AA;
    border-radius: 25px;
  }


  input[type=button]:hover {
    background-color: #162841;
    border: 3px solid #162841;
    cursor: pointer;
  }

  a{
    font-size: 14px;
    margin-left: 88px;
  }

  input[type=text]:focus, input[type=password]:focus {
    border: 3px solid #000000;
  }

  a:link {
    color: #114084;
  }

  a:visited {
    color: #114084;
  }

  a:hover {
    color: rgb(50, 152, 255);
  }

  a:active {
    color: rgb(50, 152, 255);
  }
  .login {
    width: 653.2px;
    height: auto;
    position: absolute;
    transform: translate(-29.5%,0%);
    text-align: center;
    margin-top: 30px;
}

  .confirm {
    margin-left: 100px;
    color: white;
    font-size: 17px;
    font-family: 'helvetica';
    font-weight: bold;
    margin-top: 0px;
    width: 150px;
    height: 50px;
    background-color: #3466AA;
    border: 3px solid #3466AA;
    border-radius: 25px;
    transform: translateY(40px);
  }
  
  .confirm:hover {
    background-color: #162841;
    border: 3px solid #162841;
    cursor: pointer;
    transition: background-color 0.25s;
  }
  #errorContainer {
    color: red;
    font-size: 15px;
  font-family: 'helvetica';
  font-weight: bold;
  transform: translate(5px,-20px);
  position: absolute;
    top: 520px; 
    left: 69px; 
  }
  
  .login{
    width: 653.2px;
    height: auto;
    position: absolute;
    transform: translate(-29.5%,0%);
    


    text-align: center;
  }
  .login :hover{
    transition: background-color 0.25s;
  }
  #errorContainer2 {
    color: red;
    font-size: 15px;
  font-family: 'helvetica';
  font-weight: bold;
  transform: translate(5px,-385px);
  }
  #errorContainer3 {
    color: red;
    font-size: 15px;
  font-family: 'helvetica';
  font-weight: bold;
  transform: translate(5px,-285px);
  }