<html>
<title>Dashboard</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet"
    type='text/css'>
<link rel="stylesheet" href="/static/css/dashboard.css">
<link rel="icon" type="image/x-icon" href="/static/images/tabicon.png">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
    crossorigin="anonymous"></script>
<script src="/static/js/fetch.js"></script>
<script src="/static/js/redirect.js"></script>

<head>

</head>

<body>
    <div class="wrapper hover_collapse">
        <div class="top_navbar">
            <div class="logo"><img src="/static/images/syncmelogo.png" class="logopic" width=175px /></div>
        </div>
        <a href="/static/profilepage.html" class="profilelink">
            <div class="profile"><img src="/static/images/profile.png" width=30px class="profileicon" /><text
                    class="profilename"></text></div>
        </a>
        <div class="sidebar">
            <div class="sidebar_inner">
                <ul>
                    <li class="dashboardbox">
                    <li>
                        <a href="/" title="Dashboard" class="pressed">
                            <span class="icon"><i class="fa fa-home fa-2x" aria-hidden="true"></i></span>
                        </a>
                    </li>
                    <li>
                        <a href="/messages/create" title="Messages">
                            <span class="icon"><i class="fa fa-comment fa-2x" aria-hidden="true"></i></span>
                        </a>
                    </li>
                    <li>
                        <a href="/students" title="Students">
                            <span class="iconsp"><i class="fa fa-user fa-2x" aria-hidden="true"></i></span>
                        </a>
                    </li>
                    <li>
                        <a href="/groups" title="Groups">
                            <span class="icon"><i class="fa fa-users fa-2x" aria-hidden="true"></i></span>
                        </a>
                    </li>

                </ul>
                <div class="Exit" onclick="redirectToLoginPage()">
                    <a href="/login" title="Sign Out">
                        <img src="/static/images/logout-xxl.png" width=40px />
                </div>
                </a>
            </div>
        </div>
    </div>
    <div class="main-content">

        <div class="toptext">
            <h1>Welcome back,</h1>&nbsp;<h1 class="username"></h1>
            <h1>!</h1>
            <h4>Here's your dashboard.</h4>
        </div>
        <div class="topcontent">
            <div class="msgbox">
                <img src="/static/images/bigmessage.png" onclick="redirectToPage()" width=100px class="msimg" />
                <div class=numberandtext>
                    <h1 class="number" id="msgnumber">0</h1><br>Messages
                </div>
            </div>
            <div class="stdbox">
                <img src="/static/images/bigstudent.png" onclick="redirectToPage2()" width=100px class="simg" />
                <div class=numberandtext>
                    <h1 class="number" id="stdnumber">0</h1><br>Students
                </div>

            </div>
            <div class="grpbox">
                <img src="/static/images/biggroup.png" onclick="redirectToPage3()" width=100px class="gimg" />
                <div class=numberandtext>
                    <h1 class="number" id="grpnumber">0</h1><br>Groups
                </div>
            </div><br>
        </div>

        <div class="herosection">
        </div>
    </div>
    <!-- footer -->
    <div class="bottomfooter">
        <div class="section1">
            <p class="teamtitle">Team Members</p>
            <p class="pfooter">Shehabeldin Ahmed - 23P0201<br>Mohamed Morsi - 23P0097<br>Omar El-Khadragy -
                23P0085<br>Omar Tamer - 23P0174<br>Omar Abouraya - 23P0100<br>Youssef George - 23P0227 </p>
        </div>
        <div class="section2">
            <div class="innersection2"><img src="/static/images/asu.png" class="asulogo" width=100px /><br>
                <div class="college">Faculty of Engineering - Ain Shams University<br>
                    CSE142 - Introduction to Software
                    Engineering </div>
            </div>
        </div>
        <div class="section3">
            <img src="/static/images/imghtml.png" width="50px" class="html" />
            <img src="/static/images/imgcss.png" width="50px" class="css" />
            <img src="/static/images/imgjs.png" width="50px" class="js" /><Br>
            <img src="/static/images/imgpython.png" width="50px" class="python" />
            <img src="/static/images/imgdjango.png" width="50px" class="django" />
            <Br>
            <div class="copyright">syncme © 2024</div>
        </div>
    </div>
    <!-- footer -->
    <script src="/static/js/displaydata.js"></script>
</body>

</html>